body{
    text-align: center;
    color: #fff;
    height: 100vh;
    place-content: center;

    background: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.imagen{
    margin-top: 10px;
}

.codigoqr{
    display: block;
}

.buton{
    display: none;
}

.container-fluid{
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffde59;
    padding: 10px;
    width: 400px;
    


}

.container{
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffde59;
    padding: 10px;
    width: 1000px;
    min-width: 280px;


}
.nav-barra{
    margin: auto;
    min-width: 400px;
}

h2{
    color: black;
}
p{
    color: black;
}

.letras{
    color: black;
}
