body{
    text-align: center;
    color: #fff;
    height: 100vh;
    display: grid;
    place-content: center;

    background: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.imagen{
    margin-top: 10px;
}

.codigoqr{
    display: block;
}

.buton{
    display: none;
}

.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffde59;
    padding: 10px;


}

h2{
    color: black;
}
p{
    color: black;
}
